<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">ATutor Calendar</name> 
    <description lang="en">Displays dates relevant to the user's courses. This module requires the module_extend_date patch to be installed for the courses,tests, and assignments modules</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
        <maintainer> 
            <name>Anurup Raveendran</name> 
            <email>anurupraveendran@gmail.com</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
    <release> 
        <version>0.1</version> 
        <date>2011-</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>
